body {
	background-color:silver;
	margin:0.3% 17.5%;
	font-family:serif-sans;
	font-size:100%;
}
div.page {
	width:100%;
	margin:auto;
	background-color:rgb(42,42,44);
	overflow:hidden;
	border-radius:7px;
	box-shadow:0px 0px 5px black;
}
img.header {
	width:100%;
	display:block;
	margin:0;
	padding:0;
}

ul.navigation {
	background-color:#505051;
	list-style-type:none;
	margin:0;
	padding:0;
	text-align:center;
	position:relative;
	border-top-right-radius:7px;
	border-top-left-radius:7px;
}
li {
	display:inline-block;
	margin:0;
	padding:0;
}
a.navigation {
	color:white;
	margin:0px;
	padding:10px 35px;
	display:inline-block;
	text-decoration:none;
	font-size:120%;
	font-family:"Lucida Sans Unicode";
}
a.navigation:hover {
	color:white;
	background-color:grey;
}
li#doma {
	float:left;
	font-size:24px;
	padding:0;
	margin:0;
}
img#home {
	height:25px;
	width:25px;
	margin:0;
	padding:0;
	display:block;
	border-radius:0;
	position:absolute;
	top:11px;
	left:15px;
}
i, li#baraj {
	float:right;
	font-size:24px;
	padding:0;
	margin:0;
	position:absolute;
	top:7px;
	right:5px;
	color:black;
}
div.oneplusone {
	position:relative;
	width:100%;
	height:640px;
	overflow:hidden;
	background-color:#4d4d4d;
}
div.oneplustwo {
	position:relative;
	width:100%;
	height:640px;
	overflow:hidden;
	background-color:silver;
}
div.oneplus3 {
	position:relative;
	width:100%;
	height:640px;
	overflow:hidden;
	background-color:silver;
}
div.oneplus3t {
	width:100%;
	position:relative;
	height:640px;
	overflow:hidden;
	background-color:silver;
}
img.oneplusone {
	width:50%;
	border-top-left-radius:7px;
}
img.oneplustwo {
	width:50%;
	float:right;
}
img.oneplus3 {
	width:50%;
}
img.oneplus3t {
	width:50%;
	float:right;
	border-bottom-right-radius:7px;
}
div.oneplusonetext {
	background-color:#323233;
	position:absolute;
	top:0px;
	right:0px;
	text-align:center;
	width:50%;
	height:100%;
	font-family:"Lucida Sans Unicode";
	overflow:hidden;
	border-top-right-radius:7px;
}
div.oneplustwotext {
	position:absolute;
	width:50%;
	height:100%;
	top:0;
	left:0;
	text-align:center;
	font-family:"Lucida Sans Unicode";
	overflow:hidden;
	background-color:#404042;
}
div.oneplus3text {
	position:absolute;
	width:50%;
	text-align:center;
	right:0;
	top:0;
	font-family:"Lucida Sans Unicode";
	overflow:hidden;
	height:100%;
	background-color:#505051;
}
div.oneplus3ttext {
	position:absolute;
	width:50%;
	text-align:center;
	left:0;
	top:0;
	font-family:"Lucida Sans Unicode";
	overflow:hidden;
	height:100%;
	background-color:#5E5E60;
	border-bottom-left-radius:7px;
}
h2 {
	color:white;
	font-size:2em;
}
p.oneplusonetext {
	font-size:1.5em;
	color:white;
}
p.oneplustwotext {
	font-size:1.5em;
	color:white;
}
p.oneplus3text {
	font-size:1.5em;
	color:white;
}
p.oneplus3ttext {
	font-size:1.5em;
	color:white;
}
hr {
	padding:0;
	margin:0;
	width:100%;
	height:5px;
	background-color:silver;
	border:0;
}
a.buy_now {
	text-decoration:none;
	font-size:1em;
	display:inline-block;
	color:white;
	background-color:#E80E2A;
	padding:10px 40px;
}
a.buy_now:hover {
	background-color:#c40827;
	box-shadow:0px 0px 10px silver;
}
a.full_specs {
	text-decoration:none;
	background-color:grey;
	color:white;
	padding:10px 35px;
}
a.full_specs:hover {
	color:white;
	background-color:#666666;
	box-shadow:0px 0px 10px white;
}
img.footer {
	display:block;
	width:100%;
	margin:0;
	padding:0;
}
h2 {
	margin-top:150px;
}
p {
	margin-top:40px;
}